:root {
    --primary-color: #58c4dc;
    --primary-border: rgba(88, 196, 220, 0.3);
    --primary-background: rgb(52, 58, 70);
    --primary-text: rgb(246, 247, 249);
}

body {
    background: #23272f;
    color: var(--primary-text);
}

.root {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.title1 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.title2 {
    font-size: 28px;
    margin-top: 6px;
    margin-bottom: 16px;
    line-height: 1.5;
}

.title3 {
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 14px;
    line-height: 1.5;
}

.title4 {
    font-size: 22px;
    line-height: 1.5;
}

.title5 {
    font-size: 20px;
    line-height: 1.5;
}

.title6 {
    font-size: 18px;
    line-height: 1.5;
}

p {
    font-weight: 300;
}

.primary-color {
    color: var(--primary-color);
}

.primary-bg-color {
    background: var(--primary-background);
}

.primary-text {
    color: var(--primary-text);
}

.section {
    padding: 30px;
}

.section.blending {
    background: var(--primary-background);
    border-radius: 10px;
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 0 0 1px hsla(0,0%,100%,.08);
}